package partials

templ AlertIcon(tooltip string) {
	<div uk-tooltip={ tooltip }>
		<uk-icon hx-history="false" icon="triangle-alert" custom-class="h-5 w-5 text-red-600" uk-cloack></uk-icon>
	</div>
}
