package partials

import "github.com/invopop/ctxi18n/i18n"

templ MoreButton() {
	<button type="button" title={ i18n.T(ctx, "More") }><uk-icon hx-history="false" icon="ellipsis" custom-class="h-5 w-5" uk-cloack></uk-icon></button>
}
