package agents_views

import (
	"fmt"
	"github.com/gohugoio/locales"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	ent "github.com/open-uem/ent"
	"github.com/open-uem/openuem-console/internal/controllers/sessions"
	"github.com/open-uem/openuem-console/internal/views/filters"
	"github.com/open-uem/openuem-console/internal/views/layout"
	"github.com/open-uem/openuem-console/internal/views/partials"
	"strconv"
)

var AgentStatus = []string{"WaitingForAdmission", "Enabled", "Disabled"}

templ Agents(c echo.Context, p partials.PaginationAndSort, f filters.AgentFilter, sm *sessions.SessionManager, l locales.Translator, agents []*ent.Agent, availableTags, appliedTags []*ent.Tag, availableOSes []string, successMessage, errMessage string, refresh int) {
	@partials.Header([]partials.Breadcrumb{{Title: "Agents", Url: "/agents"}}, sm)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8">
		if successMessage != "" {
			@partials.SuccessMessage(successMessage)
		} else {
			<div id="success" class="hidden"></div>
		}
		<div id="confirm" class="hidden"></div>
		if errMessage != "" {
			@partials.ErrorMessage(errMessage, true)
		} else {
			<div id="error" class="hidden"></div>
		}
		<div class="uk-width-1-2@m uk-card uk-card-default">
			<div class="uk-card-header">
				<div class="flex justify-between items-center">
					<div class="flex flex-col">
						<h3 class="uk-card-title">{ i18n.T(ctx, "Agents") }</h3>
						<p class="uk-margin-small-top uk-text-small">
							{ i18n.T(ctx, "agents.description") }
						</p>
					</div>
					@partials.PDFReportButton(p, "/reports/agents", "reports.agents")
				</div>
			</div>
			<div class="uk-card-body flex flex-col gap-4">
				<div class="flex justify-between mt-8">
					<div class="flex items-center gap-4">
						@filters.ClearFilters("/agents", "#main", "outerHTML", func() bool {
							return f.Hostname == "" && len(f.AgentStatusOptions) == 0 &&
								len(f.AgentOSVersions) == 0 && len(f.Tags) == 0 &&
								f.ContactFrom == "" && f.ContactTo == ""
						})
						<button
							id="select-all"
							title={ i18n.T(ctx, "SelectAll") }
							type="button"
							class="uk-button uk-button-default flex items-center gap-2"
							_={ fmt.Sprintf(`on click 
												repeat in <input[id^='check-']/>
													if it.checked is false then
														it.click()
													end
												end
												set storedItems to %s as Array
												set sessionStorage.selectedAgentsFromList to storedItems as JSON
												set #filterBySelectedItems.value to '%d'
												set #items-selected.innerHTML to '%d'
												
												remove @disabled from #admit-all-button
												remove @disabled from #enable-all-button
												remove @disabled from #disable-all-button
												
											end`, f.SelectedAllAgents, p.NItems, p.NItems) }
						>
							{ i18n.T(ctx, "SelectAll") }
						</button>
						<button
							id="deselect-all"
							title={ i18n.T(ctx, "DeselectAll") }
							type="button"
							class="uk-button uk-button-default flex items-center gap-2"
							_="on click 
										repeat in <input[type='checkbox']/>
											if it.checked is true then
												it.click()
											end
										end
										set storedItems to [] as Array
										set sessionStorage.selectedAgentsFromList to storedItems as JSON
										set #filterBySelectedItems.value to '0'
										set #items-selected.innerHTML to '0'
										add @disabled to #admit-all-button
										add @disabled to #enable-all-button
										add @disabled to #disable-all-button
									end"
						>
							{ i18n.T(ctx, "DeselectAll") }
						</button>
						<p class="uk-text-small"><span id="items-selected" class="uk-text-bold">{ strconv.Itoa(f.SelectedItems) }</span> { i18n.T(ctx, "Items") }</p>
						<form class="flex items-center gap-4">
							<input id="filterBySelectedItems" type="hidden" name="filterBySelectedItems" value={ strconv.Itoa(f.SelectedItems) }/>
							<input id="selectedAgents" type="hidden" name="selectedAgents"/>
							<button
								id="admit-all-button"
								title={ i18n.T(ctx, "Admit") }
								type="button"
								class="uk-button uk-button-default"
								hx-get="/agents/admit"
								hx-push-url="false"
								hx-target="#main"
								hx-swap="outerHTML"
								disabled?={ f.SelectedItems == 0 }
							>
								<div class="flex items-center gap-2">
									<uk-icon hx-history="false" icon="check" custom-class="h-5 w-5" uk-cloack></uk-icon>
									{ i18n.T(ctx, "Admit") }
								</div>
							</button>
							<button
								id="enable-all-button"
								title={ i18n.T(ctx, "Enable") }
								type="button"
								class="uk-button uk-button-default"
								hx-get="/agents/enable"
								hx-push-url="false"
								hx-target="#main"
								hx-swap="outerHTML"
								disabled?={ f.SelectedItems == 0 }
							>
								<div class="flex items-center gap-2">
									<uk-icon hx-history="false" icon="megaphone" custom-class="h-5 w-5" uk-cloack></uk-icon>
									{ i18n.T(ctx, "Enable") }
								</div>
							</button>
							<button
								id="disable-all-button"
								title={ i18n.T(ctx, "Disable") }
								type="button"
								class="uk-button uk-button-default"
								hx-get="/agents/disable"
								hx-push-url="false"
								hx-target="#main"
								hx-swap="outerHTML"
								disabled?={ f.SelectedItems == 0 }
							>
								<div class="flex items-center gap-2">
									<uk-icon hx-history="false" icon="megaphone-off" custom-class="h-5 w-5" uk-cloack></uk-icon>
									{ i18n.T(ctx, "Disable") }
								</div>
							</button>
						</form>
					</div>
					@partials.RefreshPage(l, "/agents", "#main", "outerHTML", "post", refresh, true)
				</div>
				if len(agents) > 0 {
					<table
						class="uk-table uk-table-divider uk-table-small uk-table-hover uk-table-striped border border-gray-400!important"
						_="on load
							if #filterBySelectedItems.value is '0' then
								set storedItems to [] as Array
								set sessionStorage.selectedAgentsFromList to storedItems as JSON
							end
						end"
					>
						@AgentsTableHead(c, p, f, l, appliedTags, availableOSes)
						@AgentsTableBody(p, l, agents, availableTags)
					</table>
					@partials.Pagination(c, p, "#main", "outerHTML", "get", c.FormValue("referer"))
				} else {
					<p class="uk-text-small uk-text-muted">
						{ i18n.T(ctx, "agents.no_agents") }
					</p>
				}
			</div>
		</div>
	</main>
}

templ AgentsConfirmDelete(c echo.Context, sm *sessions.SessionManager, agent *ent.Agent) {
	@partials.Header([]partials.Breadcrumb{{Title: "Agents", Url: "/agents"}, {Title: agent.ID, Url: fmt.Sprintf("/agents/%s", agent.ID)}}, sm)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8 bg-white">
		@partials.ConfirmDelete(i18n.T(ctx, "confirm.agent_delete"), "/agents", "/agents/"+agent.ID, c.Request().Referer())
		@AgentInfo(agent)
	</main>
}

templ AgentsConfirmDisable(c echo.Context, sm *sessions.SessionManager, agent *ent.Agent) {
	@partials.Header([]partials.Breadcrumb{{Title: "Agents", Url: "/agents"}, {Title: agent.ID, Url: fmt.Sprintf("/agents/%s", agent.ID)}}, sm)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8 bg-white">
		@partials.ConfirmDisable(i18n.T(ctx, "confirm.agent_disable"), "/agents", "/agents/"+agent.ID+"/disable", c.Request().Referer())
		@AgentInfo(agent)
	</main>
}

templ AgentConfirmAdmission(c echo.Context, sm *sessions.SessionManager, agent *ent.Agent) {
	@partials.Header([]partials.Breadcrumb{{Title: "Agents", Url: "/agents"}, {Title: agent.ID, Url: fmt.Sprintf("/agents/%s", agent.ID)}}, sm)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8 bg-white">
		@partials.ConfirmAdmission(i18n.T(ctx, "confirm.agent_admit"), "/agents", "/agents/"+agent.ID+"/admit", c.Request().Referer())
		@AgentInfo(agent)
	</main>
}

templ AgentInfo(agent *ent.Agent) {
	<div class="uk-width-1-2@m uk-card uk-card-default">
		<div class="uk-card-body">
			<table class="uk-table uk-table-striped border border-gray-400!important mt-2">
				<tr><th>{ i18n.T(ctx, "agents.hostname") }</th><td>{ agent.Hostname }</td></tr>
				<tr><th>{ i18n.T(ctx, "agents.manufacturer") }</th><td>{ agent.Edges.Computer.Manufacturer }</td></tr>
				<tr><th>{ i18n.T(ctx, "Serial") }</th><td>{ agent.Edges.Computer.Serial }</td></tr>
				<tr><th>{ i18n.T(ctx, "inventory.network_adapters.mac_address") }</th><td>{ agent.MAC }</td></tr>
				<tr><th>{ i18n.T(ctx, "inventory.network_adapters.ip_address") }</th><td>{ agent.IP }</td></tr>
				<tr><th>{ i18n.T(ctx, "OperatingSystem") }</th><td>{ agent.Os }</td></tr>
				<tr><th>{ i18n.T(ctx, "agents.version") }</th><td>{ agent.Edges.Operatingsystem.Version }</td></tr>
				<tr><th>{ i18n.T(ctx, "agents.username") }</th><td>{ agent.Edges.Operatingsystem.Username }</td></tr>
			</table>
		</div>
	</div>
}

templ AgentsIndex(title string, cmp templ.Component) {
	@layout.Base("agents") {
		@cmp
	}
}

templ AgentsTableHead(c echo.Context, p partials.PaginationAndSort, f filters.AgentFilter, l locales.Translator, tags []*ent.Tag, availableOSes []string) {
	<thead>
		<tr>
			<th>
				<input
					id="check-all-in-page"
					name="check-all-in-page"
					class="uk-checkbox"
					type="checkbox"
					_="on click
						repeat in <input[title='check-agent']/>																
							if it.checked !== #check-all-in-page.checked then
								it.click()
							end
						end

						if (#filterBySelectedItems.value is '0') then
							add @disabled to #admit-all-button
							add @disabled to #enable-all-button
							add @disabled to #disable-all-button
						else
							remove @disabled from #admit-all-button
							remove @disabled from #enable-all-button
							remove @disabled from #disable-all-button
						end
					"
				/>
			</th>
			<th class="w-1/6">
				<div class="flex gap-1 items-center">
					<span>{ i18n.T(ctx, "agents.hostname") }</span>
					@partials.SortByColumnIcon(c, p, i18n.T(ctx, "agents.hostname"), "hostname", "alpha", "#main", "outerHTML")
					@filters.FilterByText(c, p, "Hostname", f.Hostname, "agents.filter_by_hostname", "#main", "outerHTML")
				</div>
			</th>
			<th class="w-1/12">
				<div class="flex gap-1 items-center">
					<span>{ i18n.T(ctx, "Status") }</span>
					<div>
						@partials.SortByColumnIcon(c, p, i18n.T(ctx, "Status"), "status", "alpha", "#main", "outerHTML")
					</div>
					<div>
						@filters.FilterByOptions(c, p, "StatusAgent", "agents.filter_by_status", AgentStatus, f.AgentStatusOptions, "#main", "outerHTML", true, func() bool {
							return len(f.AgentStatusOptions) == 0
						})
					</div>
				</div>
			</th>
			<th class="w-1/12">
				<div class="flex gap-1 items-center">
					<span>{ i18n.T(ctx, "agents.os") }</span>
					@partials.SortByColumnIcon(c, p, i18n.T(ctx, "agents.os"), "os", "alpha", "#main", "outerHTML")
					@filters.FilterByOptions(c, p, "AgentOS", "agents.filter_by_agent_os", availableOSes, f.AgentOSVersions, "#main", "outerHTML", false, func() bool {
						return len(f.AgentOSVersions) == 0
					})
				</div>
			</th>
			<th class="w-1/12">
				<div class="flex gap-1 items-center">
					<span>{ i18n.T(ctx, "agents.version") }</span>
					@partials.SortByColumnIcon(c, p, i18n.T(ctx, "agents.version"), "version", "alpha", "#main", "outerHTML")
				</div>
			</th>
			<th class="w-1/6">
				<div class="flex gap-1 items-center">
					<span>{ i18n.T(ctx, "IP Address") }</span>
					@partials.SortByColumnIcon(c, p, i18n.T(ctx, "IP Address"), "ip_address", "alpha", "#main", "outerHTML")
				</div>
			</th>
			<th class="w-1/4">
				<div class="flex gap-1 items-center">
					{ i18n.T(ctx, "Tag.other") }
					@filters.FilterByTags(c, p, f.Tags, "#main", "outerHTML", tags, func() bool { return len(f.Tags) == 0 })
				</div>
			</th>
			<th class="w-1/6">
				<div class="flex gap-1 items-center">
					<span>{ i18n.T(ctx, "agents.last_contact") }</span>
					@partials.SortByColumnIcon(c, p, i18n.T(ctx, "agents.last_contact"), "last_contact", "time", "#main", "outerHTML")
					@filters.FilterByDate(c, p, "Contact", "agents.filter_by_last_contact", f.ContactFrom, f.ContactTo, "#main", "outerHTML", func() bool { return f.ContactFrom == "" && f.ContactTo == "" })
				</div>
			</th>
			<th>
				<div class="flex gap-1 items-center">
					<span class="sr-only">{ i18n.T(ctx, "Actions") }</span>
				</div>
			</th>
		</tr>
	</thead>
}

templ AgentsTableBody(p partials.PaginationAndSort, l locales.Translator, agents []*ent.Agent, tags []*ent.Tag) {
	for index, agent := range agents {
		<tr>
			<td class="!align-middle">
				<input
					id={ "check-agent-" + agent.ID }
					title="check-agent"
					name={ agent.ID }
					class="uk-checkbox"
					type="checkbox"
					_={ fmt.Sprintf(`
						on click
							set storedItems to [] as Array
							if sessionStorage.selectedAgentsFromList exists then														
								set storedItems to sessionStorage.selectedAgentsFromList as Object
							end																								

							set index to storedItems.indexOf(my name)		
							if me.checked then
								increment #filterBySelectedItems.value by 1
								set #items-selected.innerHTML to #filterBySelectedItems.value
								if index < 0 then 															
									append my name to storedItems
									set sessionStorage.selectedAgentsFromList to storedItems as JSON
								end														
							else
								decrement #filterBySelectedItems.value by 1
								set #items-selected.innerHTML to #filterBySelectedItems.value
								set index to storedItems.indexOf(my name)														
								if index >= 0 then 															
									get storedItems.splice(index, 1)															
								end															
								
								if no storedItems then 
									set storedItems to [] as Array
									set #filterBySelectedItems.value to '0'
								end

								set sessionStorage.selectedAgentsFromList to storedItems as JSON 
							end

							if ((<input[title='check-agent']:checked/>).length > 0 or storedItems.length > 0) then
								remove @disabled from #admit-all-button
								remove @disabled from #enable-all-button
								remove @disabled from #disable-all-button
							else
								add @disabled to #admit-all-button
								add @disabled to #enable-all-button
								add @disabled to #disable-all-button
							end

							if #check-all-in-page.checked is true and me.checked is false then
								set #check-all-in-page.checked to false
							end

							if #check-all-in-page.checked is false and (<input[title='check-agent']:checked/>).length === %d then
								set #check-all-in-page.checked to true
							end

							set #selectedAgents.value to storedItems.length
						end

						on load
							set storedItems to [] as Array
							if sessionStorage.selectedAgentsFromList exists then
								set storedItems to sessionStorage.selectedAgentsFromList as Object												
							end

							set index to storedItems.indexOf(my name)														
							if index >= 0 then
								set me.checked to true
							end

							if ((<input[title='check-agent']:checked/>).length == (<input[title='check-agent']/>).length) then
								set #check-all-in-page.checked to true
							end

							set #selectedAgents.value to storedItems.length
						end
					`,p.PageSize) }
				/>
			</td>
			<td
				class="!align-middle underline hover:cursor-pointer"
				hx-get={ string(templ.URL(fmt.Sprintf("/computers/%s", agent.ID))) }
				hx-push-url="true"
				hx-target="#main"
				hx-swap="outerHTML"
			>
				<div class="flex items-center gap-2">
					{ agent.Hostname }
					if agent.RestartRequired {
						@partials.AlertIcon(i18n.T(ctx, "agents.restart_required"))
					}
				</div>
			</td>
			<td class="!align-middle">
				<div uk-tooltip={ i18n.T(ctx, agent.AgentStatus.String()) }>
					switch agent.AgentStatus {
						case "WaitingForAdmission":
							<uk-icon hx-history="false" icon="monitor-pause" custom-class="h-6 w-6 text-red-600" uk-cloack></uk-icon>
						case "Enabled":
							<uk-icon hx-history="false" icon="monitor-check" custom-class="h-6 w-6 text-green-600" uk-cloack></uk-icon>
						case "Disabled":
							<uk-icon hx-history="false" icon="monitor-x" custom-class="h-6 w-6 text-gray-600" uk-cloack></uk-icon>
					}
				</div>
			</td>
			<td class="!align-middle">
				switch agent.Os {
					case "windows":
						<i class="ri-windows-fill ri-2x text-blue-600"></i>
					case "linux":
						<span></span>
				}
			</td>
			<td class="!align-middle">{ agent.Edges.Release.Version }</td>
			<td class="!align-middle">{ agent.IP }</td>
			<td class="flex flex-wrap gap-2">
				@partials.ShowAppliedTags(agent.Edges.Tags, agent.ID, p, "/agents", "#main", "outerHTML")
				@partials.AddTagButton(p, tags, agent.Edges.Tags, agent.ID, "/agents", "post", "#main", "outerHTML")
			</td>
			<td class="!align-middle">{ l.FmtDateMedium(agent.LastContact.Local()) + " " + l.FmtTimeShort(agent.LastContact.Local()) } </td>
			<td class="!align-middle">
				@AddActionsButton(agent, index)
			</td>
		</tr>
	}
	if len(agents) < p.PageSize {
		@EmptyAgentRows(p.PageSize, len(agents))
	}
}

templ AddActionsButton(agent *ent.Agent, index int) {
	@partials.MoreButton(index)
	<div class="uk-drop uk-dropdown" uk-dropdown="mode: click">
		<ul class="uk-dropdown-nav uk-nav" _={ fmt.Sprintf("on click call #moreButton%d.click()", index) }>
			if agent.AgentStatus == "WaitingForAdmission" {
				<li>
					<a
						hx-get={ string(templ.URL(fmt.Sprintf("/agents/%s/admit", agent.ID))) }
						hx-target="#main"
						hx-swap="outerHTML"
					>
						<uk-icon hx-history="false" icon="check" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon>
						{ i18n.T(ctx, "agents.admit") }
					</a>
				</li>
			}
			if agent.AgentStatus == "Enabled" {
				<li>
					<a
						hx-post={ string(templ.URL(fmt.Sprintf("/agents/%s/forcereport", agent.ID))) }
						hx-target="#main"
						hx-swap="outerHTML"
					>
						<uk-icon hx-history="false" icon="circle-play" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon>
						{ i18n.T(ctx, "agents.force_run") }
					</a>
				</li>
			}
			if agent.AgentStatus == "Enabled" {
				<li>
					<a
						hx-get={ string(templ.URL(fmt.Sprintf("/agents/%s/disable", agent.ID))) }
						hx-target="#main"
						hx-swap="outerHTML"
					>
						<uk-icon hx-history="false" icon="megaphone-off" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon>
						{ i18n.T(ctx, "Disable") }
					</a>
				</li>
			}
			if agent.AgentStatus == "Enabled" {
				<li>
					<a
						hx-post={ string(templ.URL(fmt.Sprintf("/agents/%s/regeneratecerts", agent.ID))) }
						hx-target="#main"
						hx-swap="outerHTML"
					>
						<uk-icon hx-history="false" icon="key-round" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon>
						{ i18n.T(ctx, "agents.regenerate_cert") }
					</a>
				</li>
			}
			if agent.AgentStatus == "Enabled" {
				<li>
					<a
						hx-post={ string(templ.URL(fmt.Sprintf("/agents/%s/forcerestart", agent.ID))) }
						hx-target="#main"
						hx-swap="outerHTML"
						hx-indicator="#restart-spinner"
					>
						<uk-icon hx-history="false" icon="power" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon>
						{ i18n.T(ctx, "agents.force_restart") }
						<div id="restart-spinner" class="ml-2 htmx-indicator" hx-history="false" uk-spinner="ratio: 0.5" uk-spinner></div>
					</a>
				</li>
			}
			if agent.AgentStatus == "Disabled" {
				<li>
					<a
						hx-post={ string(templ.URL(fmt.Sprintf("/agents/%s/enabled", agent.ID))) }
						hx-target="#main"
						hx-swap="outerHTML"
						hx-indicator="#disable-spinner"
					>
						<uk-icon hx-history="false" icon="megaphone" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon>
						{ i18n.T(ctx, "Enable") }
						<div id="disable-spinner" class="ml-2 htmx-indicator" hx-history="false" uk-spinner="ratio: 0.5" uk-spinner></div>
					</a>
				</li>
			}
			if agent.IP != "" && agent.AgentStatus == "Enabled" && agent.Vnc != "" {
				<li>
					<a
						hx-get={ string(templ.URL(fmt.Sprintf("/computers/%s/remote-assistance", agent.ID))) }
						hx-push-url="true"
						hx-target="#main"
						hx-swap="outerHTML"
					><uk-icon hx-history="false" icon="monitor-play" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon> { i18n.T(ctx, "Remote Assistance") }</a>
				</li>
			}
			if agent.AgentStatus != "WaitingForAdmission" && len(agent.MAC) > 0 {
				<li>
					<a
						hx-get={ string(templ.URL(fmt.Sprintf("/computers/%s/power", agent.ID))) }
						hx-target="#main"
						hx-swap="outerHTML"
					>
						<uk-icon hx-history="false" icon="alarm-clock" custom-class="h-6 w-6 pr-2" uk-cloack></uk-icon>
						{ i18n.T(ctx, "agents.wol_title") }
					</a>
				</li>
			}
			<li>
				<a
					hx-get={ string(templ.URL(fmt.Sprintf("/agents/%s/delete", agent.ID))) }
					hx-target="#main"
					hx-swap="outerHTML"
				><uk-icon hx-history="false" icon="trash-2" custom-class="h-6 w-6 pr-2 text-red-600" uk-cloack></uk-icon>{ i18n.T(ctx, "Delete") }</a>
			</li>
		</ul>
	</div>
}

templ EmptyAgentRows(pageSize, nItems int) {
	for i:=0; i < pageSize - nItems; i++ {
		<tr>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
			<td class="!align-middle">-</td>
		</tr>
	}
}
