package filters

import "github.com/invopop/ctxi18n/i18n"

templ ClearFilters(url, target, swap string) {
	<button
		type="button"
		class="uk-button uk-button-default"
		hx-push-url="false"
		hx-get={ url }
		hx-target={ target }
		hx-swap={ swap }
	>
		{ i18n.T(ctx, "Clear") }<uk-icon hx-history="false" icon="x" custom-class="h-5 w-5 ml-3" uk-cloack></uk-icon>
	</button>
}
