package dashboard_views

import "github.com/go-echarts/go-echarts/v2/render"

templ Chart(title, description string, chart render.ChartSnippet) {
	<div class="grow">
		<div class="flex mt-4 justify-center">
			@templ.Raw(chart.Element)
			@templ.Raw(chart.Script)
		</div>
	</div>
}
